* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Ethiopic', sans-serif;

}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 10% 90%;
}

.topbar {
  display: flex;
  grid-area: 1/2/2/3;
  background-color: #d0d0d0;

  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
  font-size: 190%;

  box-shadow: 0px 0px 5px 1px;
}

.navbar {
  grid-area: 1/1/3/2;
  background-color: #d0d0d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;
  box-shadow: 0px 0px 5px 1px;
}

.navbar button {
  padding: 10%;
  margin: 15%;
  text-align: center;
  border-radius: 20px;
  font-size: 1em;
  background-color: #e1e1e1;
}

.displayarea {
  grid-area: 2/2/3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e1e1e1;
  height: 100%;
  width: 100%;
}

.addtransaction {
  grid-area: 1/3/2/4;
  display: flex;
  height: 98%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px 0.1px;
}

.addtransaction button {
  width: 100%;
  height: 100%;
  font-size: 1em;
  background-color: #e1e1e1;
  
}

button {
  cursor: pointer;
}
